html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  text-align: center;
  align-items: center;
}

.responsive {
  max-width: 400px;
  height: auto;
  width: 33%;
}
