@namespace Colors
@page "/"
@inherits ColorData
@inject HttpClient Http


<div class="h-100 row align-items-center" style="background-color: @ColorActual.Rgb;">
    <div class="col">
        <img src="figueres.png" alt="Figueres" class="responsive">
        <h1>@ColorActual.Name</h1>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        ColorActual = await Http.GetFromJsonAsync<Color>($"/Colors/Random");

        timer = new System.Threading.Timer(async (object stateInfo) =>
            {
            ColorActual = await Http.GetFromJsonAsync<Color>($"/Colors/Random");
            StateHasChanged();
        }, new System.Threading.AutoResetEvent(false), 1000, 1000);
    }

    public void ShowError(string message = "Error recuperant colors")
    {
        Error = message;
        StateHasChanged();
    }

}
